

.collapse .navbar-collapse{

display: inline-block;
float: right ;
}



#navbarSupportedContent {

    padding-right: 90px !important;
    
} 
.navbar-brand {
    padding-left: 90px !important;
}
.link2{
    color: rgb(255, 255, 255);
   
    text-align: center;
    transition: all 0.5s ease-in-out;
}
.link2:hover{
    background-color:rebeccapurple;
    color: black;
    border-radius: 19px ;

}
.secondddd{
background-image: url(../Imgs/bg1.jpg);
height: 600px;
text-align: center;
color: white;
}
.seconddiv{
    background-color: black;
    opacity: 0.7;
    height: 600px;
    padding-top: 200px;
}
.seconddiv button{
    background-color: rgb(177, 59, 39);
 color: white;
 border-radius: 50px;
 border: 1px solid rgb(177, 59, 39);
 padding: 5px 15px;
 margin-top: 20px;

}
.seconddiv button:hover{
    background-color: rgb(253, 253, 253);
    color: #1812d6;
    transition: all 0.5s ease-in-out;

}
.third{
    text-align: center;
    margin: 5%;
}
.hr {
    width: 300px;
}
.third{
    flex-wrap: wrap;
}
.firstimg{
    width: 10%;
    height: 10%;
}
.centerr{
 text-align: center; 
 margin: auto;   
}
.seconddiv .p{
    display: none;
}


